<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">MY SHOP</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
          if !user
            <li class="nav-item active">
              <a class="nav-link" href="/user">Register</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/user/login">Login</a>
            </li>
          if user
            <li class="nav-item active">
              <a class="nav-link" href="/index">Home</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/products">Item</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/wishs">YOUR Wish list</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/products/cart">Shopping Cart</a>
            </li>
            
            <li class="nav-item active">
              <a class="nav-link" href="https://sp18-bse-002.herokuapp.com/" targrt="_blank">ASS#1</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="https://sp18-bse-002-ass2.herokuapp.com/" target="_blank">ASS#2</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/user/logout">Logout</a>
            </li>
        </div>
</nav>